body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-industri {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1200px;
    margin: 50px auto;
    padding: 30px;
    position: relative;
}

.section-industri img {
    width: 60%;
    height: auto;
    display: block;
}

.count-industri {
    outline: 30px solid #f5f5f5;
    border: 5px solid #fbd87f;
    background-color: #f5f5f5;
    padding: 20px;
    max-width: 50%;
    margin-left: -30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    position: relative;
}

.count-industri h3 {
    font-size: 1.8rem;
    color: #2c2c43;
    margin-bottom: 40px;
    text-align: center;
}

.count-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item-count {
    text-align: center;
    max-width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-count:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.number {
    font-size: 3rem;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.blue {
    color: #0099ff;
}

.green {
    color: #9acd32;
}

.orange {
    color: #ff4500;
}

.underline {
    display: block;
    width: 40px;
    height: 4px;
    background-color: #fbd87f;
    margin: 0 auto 10px auto;
}

.item-count p {
    font-size: 1rem;
    color: #636363;
    line-height: 1.5;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .section-industri {
        flex-direction: column;
    }

    .section-industri img {
        width: 100%;
        margin-bottom: -1px;
        z-index: 1;
    }

    .count-industri {
        max-width: 70%;
        margin-left: 0;
        margin-top: -40px;
        outline: 10px solid #f5f5f5;
        padding: 3px;
        z-index: 2;
    }

    .number {
        font-size: 2rem;

    }

    .count-industri h3 {
        font-size: 1.2rem;
    }

    .count-industri h3 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .count-wrapper {
        flex-direction: column;
    }

    .item-count {
        max-width: 150px;
        margin-bottom: 20px;
    }

    .number {
        font-size: 2.5rem;
        margin-bottom: 8px;
    }

    .underline {
        width: 30px;
        height: 3px;
    }

    .item-count p {
        font-size: 0.9rem;
        line-height: 1.4;
    }
}